span {
  font-size: 2.2em;
  font-weight: 600;
}
a {
  color: #ffff;
  text-decoration: none;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
}

@media (max-width: 479px) {
  span {
    font-size: 2.2em;
    font-weight: 600;
  }
  a {
    color: #ffff;
    text-decoration: none;
  }
  .main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8svh;
  }
}
