.home-button {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  font-size: 30px;
}
.recents-button {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-button {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-button {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  padding: 10px;
  border-radius: 20%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.main-footer {
  display: none;
}
@media (max-width: 479px) {
  .disclaimer {
    display: none;
  }
  .home-button {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span {
    font-size: 30px;
  }
  .recents-button {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-button {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-button {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .settings-button {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle {
    padding: 10px;
    border-radius: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    border-top: 1px solid #8899a6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
