<div class="main-footer">
  <div class="home-button">
    <a href="/">
      <span class="material-symbols-outlined"> home </span>
    </a>
  </div>
  <div class="recents-button">
    <span class="material-symbols-outlined"> list_alt </span>
  </div>
  <div class="search-button">
    <div class="circle">
      <span class="material-symbols-outlined"> search </span>
    </div>
  </div>
  <div class="profile-button">
    <span class="material-symbols-outlined"> account_circle </span>
  </div>
  <div class="settings-button">
    <span class="material-symbols-outlined"> settings </span>
  </div>
</div>
<div class="disclaimer">the desktop site is currently under construction</div>
