@media (max-width: 479px) {
  .top {
    height: 12%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 67%;
    border-radius: 10px;
  }
  .search-icon {
    width: 7%;
    color: #22272e;
  }
  .search-button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  .search-input {
    width: 80%;
    background: transparent;
    font-size: 16px;
    border: none;
    height: 80%;
    border-radius: 10px;
  }
  .search-input:focus {
    outline: none;
  }
  .two {
    height: 80%;
    border: dashed 2px #30363d;
    border-radius: 8px;
    display: block;
    padding: 5px;
  }
  .three {
    height: 15%;
  }
  .disc-brand {
    font-size: 1.3em;
    display: block;
    padding-left: 10px;
  }
  .disc-name {
    font-size: 2.35em;
    display: block;
    padding-left: 10px;
  }
  .disc-category {
    font-size: 1.3em;
    display: block;
    padding-left: 10px;
  }
  .info-box {
    width: 100%;
    height: 50%;
    display: block;
  }

  .results-box {
    height: 100%;

    width: 100%;
  }
  .bigger {
    display: flex;
  }
  .display-box {
    display: none;
  }
  .titles {
    height: 25%;
  }
  .flight-path {
    height: 42%;
  }
  .actions {
    height: 11%;
  }
  .bottom-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3%;

    font-size: 13px;
  }

  .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 20%;
  }
  .stat {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .number {
    display: flex;
    justify-content: center;
    font-size: 3em;
  }
  .title {
    display: flex;
    justify-content: center;
  }

  .stabilty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fp-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90%;
    width: 100%;
  }
  .inside {
    border: solid 2px #22272e;
    border-radius: 5px;
    height: 95%;
    width: 60%;
  }
  .mobile-display-box {
    display: block;
    margin-top: -23px;
    width: 100%;
    height: 250px;
    border: dashed 2px #30363d;
    border-radius: 5px;
  }
  .mobile-buy-now {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: -11px;
  }
  .bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buy-now {
    font-family: inherit;
    width: 110px;
    height: 40px;
    background-color: #22272e;
    border: 1px solid #30363d;
    border-radius: 5px;
    color: #e8eaed;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-buy-now a {
    text-decoration: none;
  }
  .created-by {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    height: 4vh;
    color: #58a6ff;
  }
  .main-results {
    width: 95%;
    margin-left: 9.4px;
    height: 72vh;
  }
}
