.results-box {
  height: 700px;
  width: 70%;
}
.info-box {
  border: solid 2px #30363d;
  border-radius: 8px;
  width: 30%;
}
.bigger {
  display: flex;
  height: 90%;
}

.display-box {
  width: 70%;

  border: solid 2px #30363d;
  border-radius: 8px;
}
.search-box {
  margin-top: 10px;
  border: solid 2px #30363d;
  border-radius: 8px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disc-name {
  margin-left: 10px;
  font-size: 50px;
  margin-top: -28px;
  margin-bottom: 70px;
}
.disc-brand {
  margin-left: 10px;
  margin-top: 30px;
  font-size: 25px;
}
.disc-category {
  margin-left: 10px;
  font-size: 20px;
}

.disc-stats {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.flight-box {
  width: 50%;
  height: 100%;
  border: dashed 2px #30363d;
  height: 80%;
}
.photo {
  width: 50%;
  height: 80%;
  border: dashed 2px #30363d;
  margin-left: 30px;
}
.bottom-box {
  border-top: solid 2px #30363d;
  width: 100%;
  height: 22%;
}
.top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77%;
  padding-left: 20px;
  padding-right: 20px;
}

input {
  width: 200px;
  height: 35px;
  padding: 1px 15px;
  color: #e8eaed;
  border: 1px solid #30363d;
  border-radius: 5px;
  font-size: 17px;
  background-color: #22272e;
  margin-right: 15px;
}

button {
  font-family: inherit;
  width: 70px;
  height: 40px;
  background-color: #22272e;
  border: 1px solid #30363d;
  border-radius: 5px;
  color: #e8eaed;
  font-size: 15px;
  cursor: pointer;
}
.search-bar {
  display: none;
}
.mobile-display-box {
  display: none;
}

@media (max-width: 479px) {
  .info-box {
    width: 100%;
    display: block;
  }
  .results-box {
    height: 100%;

    width: 100%;
  }
  .bigger {
    display: flex;
  }
  .display-box {
    display: none;
  }
  .search-box {
    display: none;
  }
  .search-bar {
    display: flex;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 7px;
    align-items: center;
    justify-content: center;
  }
  .search-bar input {
    width: 240px;
    height: 35px;
    padding: 1px 15px;
    color: #e8eaed;
    border: 1px solid #30363d;
    border-radius: 5px;
    font-size: 17px;
    background-color: #22272e;
    margin-right: 15px;
  }
  .stats {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stat {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    margin-top: -10px;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 106x;
  }
  h4 {
    margin-top: -60px;
  }
  .stabilty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
  }
  .mobile-display-box {
    display: block;

    width: 100%;
    height: 300px;
  }
}
