.top {
  height: 10%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22303c;
  border-radius: 8px;
  width: 100%;
  height: 80%;
  /* border: solid 0.3px #8899a6; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.redBorder {
  border: solid 0.3px red;
}
.search-icon {
  color: #8899a6;
}
.search-input::placeholder {
  color: #8899a6;
}
.search-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.clear-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #8899a6;

  margin-right: 12px;
  padding-right: 0px;
  padding-left: 0px;
}
.search-input {
  width: 80%;
  background: transparent;
  font-size: 16px;
  border: none;
  height: 80%;
  border-radius: 8px;
  color: #ffffff;
}
.search-input:focus {
  outline: none;
}
.two {
  height: 87%;
  border: solid 0.3px #8899a6;
  background-color: #22303c;
  border-radius: 8px;
  display: block;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.three {
  height: 15%;
}
.fav {
  float: right;
  padding: 10px;
}
.fav span {
  font-size: 30px;
}
.disc-brand {
  font-size: 1.7em;
  display: block;
  padding-left: 10px;
}
.disc-name {
  font-size: 2.35em;
  display: block;
  padding-left: 10px;
}
.disc-category {
  font-size: 1.3em;
  display: block;
  padding-left: 10px;
}
.info-box {
  width: 100%;
  height: 50%;
  display: block;
}

.results-box {
  height: 100%;

  width: 100%;
}
.bigger {
  display: flex;
}
.display-box {
  display: none;
}
.titles {
  height: 25%;
}
.flight-path {
  height: 42%;
}
.actions {
  height: 11%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3%;

  font-size: 13px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 20%;
}
.stat {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  display: flex;
  justify-content: center;
  font-size: 3em;
}
.title {
  display: flex;
  justify-content: center;
}

.stabilty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}
.inside {
  border: solid 0.3px #8899a6;
  background-color: #22303c;
  border-radius: 8px;
  height: 95%;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.mobile-display-box {
  display: block;
  margin-top: -23px;
  width: 100%;
  height: 250px;
  border: dashed 2px #30363d;
  border-radius: 5px;
}
.mobile-buy-now {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: -11px;
}
.bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-buy-now a {
  text-decoration: none;
}
.created-by {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  height: 4vh;
  color: #58a6ff;
}
.main-results {
  width: 40%;
  margin-left: 9.4px;
  height: 74vh;
}
@media (min-width: 1080px) {
  .main-results {
    display: none;
  }
}

@media (max-width: 479px) {
  .top {
    height: 10%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22303c;
    border-radius: 8px;
    width: 100%;
    height: 80%;
    /* border: solid 0.3px #8899a6; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: background-color 0.5s ease;
  }
  /* .green-fade {
    background-color: green;
    transition: background-color 1.5s ease;
  } */
  .redBorder {
    border: solid 0.3px red;
  }
  .search-icon {
    color: #8899a6;
  }
  .search-input::placeholder {
    color: #8899a6;
  }
  .search-button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  .search-input {
    width: 80%;
    background: transparent;
    font-size: 16px;
    border: none;
    height: 80%;
    border-radius: 8px;
    color: #ffffff;
  }
  .search-input:focus {
    outline: none;
  }
  .two {
    height: 87%;
    border: solid 0.3px #8899a6;
    background-color: #22303c;
    border-radius: 8px;
    display: block;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .three {
    height: 15%;
  }
  .fav {
    float: right;
    padding: 10px;
  }
  .fav span {
    font-size: 30px;
  }
  .disc-brand {
    font-size: 1.7em;
    display: block;
    padding-left: 10px;
  }
  .disc-name {
    font-size: 2.35em;
    display: block;
    padding-left: 10px;
  }
  .disc-category {
    font-size: 1.3em;
    display: block;
    padding-left: 10px;
  }
  .info-box {
    width: 100%;
    height: 50%;
    display: block;
  }

  .results-box {
    height: 100%;

    width: 100%;
  }
  .bigger {
    display: flex;
  }
  .display-box {
    display: none;
  }
  .titles {
    height: 25%;
  }
  .flight-path {
    height: 42%;
  }
  .actions {
    height: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3%;

    font-size: 13px;
  }

  .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 20%;
  }
  .stat {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .number {
    display: flex;
    justify-content: center;
    font-size: 3em;
  }
  .title {
    display: flex;
    justify-content: center;
  }

  .stabilty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
  }
  .inside {
    border: solid 0.3px #8899a6;
    background-color: #22303c;
    border-radius: 8px;
    height: 95%;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .mobile-display-box {
    display: block;
    margin-top: -23px;
    width: 100%;
    height: 250px;
    border: dashed 2px #30363d;
    border-radius: 5px;
  }
  .mobile-buy-now {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buy-now {
    font-family: inherit;
    width: 18vw;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: #ffff;
    font-size: 11px;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .mobile-buy-now a {
    text-decoration: none;
  }
  .created-by {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    height: 4vh;
    color: #58a6ff;
  }
  .main-results {
    width: 95%;
    margin-left: 9.4px;
    height: 74vh;
  }
}
