@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(13, 17, 23);
  color: #e8eaed;
  overflow: hidden;
}

@media (max-width: 479px) {
  body {
    margin: 0;
    overflow: hidden;
    width: 100%;
  }
  .main-div {
    width: 100%;
    background-color: red;
    height: 30vh;
  }
}
