@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #15202b;
  color: #ffffff;

  margin: 0;
  width: 100%;
}

@media (max-width: 479px) {
  body {
    min-height: 100svh;
    overflow: hidden;
  }
}
